@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --done-width: 30px;
    --date-width: 100px;
    --actions-width: 70px;
    --done: 20px;
}

html {
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    word-wrap: break-word;
}

body {
    min-width: 500px;
    margin: 0;
}

.header-title {
    display: block;
    box-sizing: border-box;
    padding-bottom: 10px;
    text-align: center;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto 10px auto;
}

.title-container-plus {
    cursor: pointer;
    color: green;
}

.list {
    width: 80%;
    height: auto;
    padding: 0;
    margin: 0 auto;
    border: 1px solid crimson;
}

.list:first-child {
    border-bottom: 0;
}

div.list {
    border-bottom: 0;
}

.list-item {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
}

.list-item-done-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: var(--done);
    height: var(--done);
    padding-right: calc(var(--done-width) - var(--done));
}

.list-item-done {
    width: var(--done);
    height: var(--done);
}

.list-item-ticket {
    width: calc(100% - var(--done-width) - var(--date-width) - var(--date-width));
    display: flex;
    flex-direction: column;
}

.list-item-description {
    color: darkgray;
}

.list-item-date {
    width: var(--date-width);
}

.list-item-actions {
    font-size: 1rem;
    display: flex;
    flex-wrap: nowrap;
    width: var(--actions-width);
    justify-content: flex-end;
}

ul.list .list-item-actions {
    font-size: 1rem;
}

.list-item-actions-update, .list-item-actions-delete {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.list-item-actions-update {
    fill: green;
    margin-right: 5px;
}

.list-item-actions-delete {
    fill: crimson;
}

.modal-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(102, 102, 102, 0.5);
}

.modal {
    display: flex;
    justify-content: center;
    min-width: 256px;
    width: 60%;
    max-width: 400px;
    height: auto;
    padding: 20px 0;
    border: 1px solid crimson;
    background: mistyrose;

}

#add-and-update, #delete {
    width: 80%;
}

label {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
}

.error {
    display: block;
    width: 100%;
    font-size: 0.8rem;
}

.add {
    padding: 0;
}

.add, .update {
    text-align: left;
}

#title, #description {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border: 1px solid grey;
}

#title:focus, #description:focus {
    border: 1px solid crimson;
}

#description::-webkit-inner-spin-button, #description::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#description {
    -moz-appearance: textfield;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
}

.save, .cancel, .delete {
    width: auto;
    flex-grow: 1;
    cursor: pointer;
}

.hidden {
    display: none;
}

.spoiler {
    cursor: pointer;
}

.spoiler .list-item-title {
    color: green;
}
